body{
font-family: Arial;
margin:0;
background:#111;
color:white;
text-align:center;
}

header{
padding:30px;
background:black;
}

.garage{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.car{
background:#1e1e1e;
border-radius:10px;
cursor:pointer;
transition:0.3s;
padding:10px;
}

.car:hover{
transform:scale(1.05);
box-shadow:0 0 15px red;
}

.car img{
width:100%;
border-radius:10px;
}

#infoBox{
margin:20px auto;
width:60%;
background:#222;
padding:20px;
border-radius:10px;
display:none;
animation:fade 0.4s;
}

@keyframes fade{
from{opacity:0; transform:translateY(10px);}
to{opacity:1;}
}